// 基本样式
.container {
    position: relative;
    width: 1226px;
    margin-right: auto;
    margin-left: auto;
}

a {
    img {
        width: 100%;
        height: 100%;
    }
}

input {
    outline: none;
    box-sizing: border-box;
    font-size: 14px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix:before,
.clearfix:after {
    content: '';
    display: table;
}

.clearfix:after {
    clear: both;
}

// 公共logo
.header-logo {
    display: inline-block;
    width: $fontA;
    height: $fontA;
    // background: $colorA;
    a {
        display: inline-block;
        width: $fontA;
        height: $fontA;
        &::before {
            content: '';
            @include bgImg($fontA, $fontA, '/images/logo-80 2.png');
            // transition: margin 0.2s;
        }
        // &::after {
        //     content: '';
        //     @include bgImg(55px, 55px, '/imgs/mi-home.png');
        // }
        // &:hover::before {
        //     margin-left: -55px;
        // }
    }
}